<header class="container">
    <h1 class="page-header">Historico</h1>
</header>

<main class="container">
        
        <form [formGroup]="historicoForm" method="POST" (ngSubmit)="onSubmit($event)">
            <input type="hidden" formControlName="id">

            <div class="form-group">
                <label for="conta_id">Conta</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-piggy-bank"></i>
                    </div>
                    
                    <ng-select [options]="contas" [multiple]="false" formControlName="conta_id"></ng-select>
                </div>    
            </div>

            <div class="form-group">
                <label for="categoria_id">Catetoria</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-check"></i>
                    </div>
                    
                    <ng-select [options]="categorias" [multiple]="false" formControlName="categoria_id"></ng-select>
                </div>    
            </div>

            <div class="form-group">
                <label for="docto">Docto.</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-asterisk"></i>
                    </div>
                    <input formControlName="docto" type="text" class="form-control" placeholder="Informe o docto.">
                </div>

                <span id="helpBlock" class="help-block">
                    Essa informação você encontra nos lançamentos do banco. Ela serve para você identificar esse lançamento no histórico de seu banco (internet bank).
                </span>
            </div>

            <div class="form-group">
                <label for="descricao">Lançamento</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-align-left"></i>
                    </div>
                    <textarea required formControlName="descricao" class="form-control"></textarea>
                </div>    
            </div>

            <div class="form-group">
                <label for="observacao">Observação</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-comment"></i>
                    </div>
                    <textarea formControlName="observacao" class="form-control"></textarea>
                </div>    
            </div>

            <div class="form-group">
                <label for="valor">Valor</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </div>
                    <input required formControlName="valor" type="text" class="form-control" placeholder="valor">
                </div>  

                <span id="helpBlock" class="help-block">
                    Para receita informe um valor positivo. Despesa informe negativo.
                </span>  
            </div>

            <div class="form-group">
                <label for="data_movimento">Data Lançamento</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                    <input required formControlName="data_movimento" type="date" class="form-control">
                </div>    
            </div>

            <div class="form-group">
                <button class="btn btn-primary" [disabled]="!historicoForm.valid">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Salvar
                </button>
                
                &nbsp;

                <button class="btn btn-default" (click)="onCancelar($event)">
                    <i class="glyphicon glyphicon-minus-sign"></i>
                    Cancelar
                </button>
            </div>
        </form>
</main>
