<header class="container">
    <h1 class="page-header">Historico</h1>
</header>

<main class="container">
        <form method="POST" (submit)="onSubmit($event)">
            <div class="form-group">
                <label for="conta_id">Conta</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-piggy-bank"></i>
                    </div>
                    
                    <select required [(ngModel)]="historico.conta_id" class="form-control" id="conta_id" name="conta_id">
                        <option value="">Selecione uma conta</option>
                        <option *ngFor="let conta of contas" [value]="conta.id">{{conta.nome}}</option>
                    </select>

                </div>    
            </div>

            <div class="form-group">
                <label for="categoria_id">Catetoria</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-check"></i>
                    </div>
                    
                    <select required [(ngModel)]="historico.categoria_id" class="form-control" id="categoria_id" name="categoria_id">
                        <option value="">Selecione uma categoria</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nome}}</option>
                    </select>
                </div>    
            </div>

            <div class="form-group">
                <label for="docto">Docto.</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-asterisk"></i>
                    </div>
                    <input [(ngModel)]="historico.docto" id="docto" name="docto" type="text" class="form-control" placeholder="Informe o docto.">
                </div>

                <span id="helpBlock" class="help-block">
                    Essa informação você encontra nos lançamentos do banco. Ela serve para você identificar esse lançamento no histórico de seu banco (internet bank).
                </span>
            </div>

            <div class="form-group">
                <label for="descricao">Lançamento</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-align-left"></i>
                    </div>
                    <textarea required [(ngModel)]="historico.descricao" id="descricao" name="descricao" class="form-control"></textarea>
                </div>    
            </div>

            <div class="form-group">
                <label for="observacao">Observação</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-comment"></i>
                    </div>
                    <textarea [(ngModel)]="historico.observacao" id="observacao" name="observacao" class="form-control"></textarea>
                </div>    
            </div>

            <div class="form-group">
                <label for="valor">Valor</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </div>
                    <input required [(ngModel)]="historico.valor" id="valor" name="valor" type="text" class="form-control" placeholder="valor">
                </div>  

                <span id="helpBlock" class="help-block">
                    Para receita informe um valor positivo. Despesa informe negativo.
                </span>  
            </div>

            <div class="form-group">
                <label for="data_movimento">Data Lançamento</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </div>
                    <input required [(ngModel)]="historico.data_movimento" id="data_movimento" name="data_movimento" type="date" class="form-control">
                </div>    
            </div>

            <div class="form-group">
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Salvar
                </button>
                
                &nbsp;

                <button class="btn btn-default" (click)="onCancelar($event)">
                    <i class="glyphicon glyphicon-minus-sign"></i>
                    Cancelar
                </button>
            </div>
        </form>
</main>
