.observacao {
    font-size: 0.9em;
    font-style: italic;
}

.receita {
    background: green;
    color: #fff;
}

.despesa {
    background: red;
    color: #fff;
}

.status-pagamentos {
    font-size: 0.8em;
    margin-right: 1em;
    margin-top: 1em;
    float: left;
    padding: 0.5em;

    border-radius: 2em;
}