<header class="container">
    <h1 class="page-header">Conta</h1>
    <a [routerLink]="['/contas/novo']" class="btn btn-primary">Novo</a>
</header>

<main class="container">
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Saldo</th>
                    <th>Observações</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conta of contas">
                    <td>{{conta.id}}</td>
                    <td>{{conta.nome}}</td>
                    <td>{{conta.saldo}}</td>
                    <td>{{conta.descricao}}</td>
                    <td>
                        <a href="" (click)="onExcluir(conta); $event.preventDefault();"><i class="glyphicon glyphicon-trash"></i> excluir</a>
                        
                        &nbsp;&nbsp;

                        <a [routerLink]="['/contas/editar', conta.id]"><i class="glyphicon glyphicon-edit"></i> editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
