<header class="container">
    <h1 class="page-header">Conta</h1>
</header>

<main class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Saldo</th>
                    <th>Observações</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href=""><i class="glyphicon glyphicon-trash"></i> excluir</a>
                        &nbsp;&nbsp;
                        <a href=""><i class="glyphicon glyphicon-edit"></i> editar</a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
