<header class="container">
    <h1 class="page-header">Tipo de Despesas</h1>
</header>

<main class="container">
        <form method="POST" (submit)="onSubmit($event)">

            <div class="form-group">
                <label for="nome">Icone</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-picture"></i>
                    </div>
                    
                    <input [(ngModel)]="tipoDespesa.icone" id="icone" name="icone" type="text" class="form-control" placeholder="Informe o icone ... css glyphicon">
                </div>    

                <span id="helpBlock" class="help-block">
                    Você pode encontrar os valores permitidos nesse link 
                    <a href="http://getbootstrap.com/components/#btn-dropdowns" target="_blank">
                        http://getbootstrap.com/components/#btn-dropdowns
                    </a>
                </span>
            </div>

            <div class="form-group">
                <label for="nome">Nome / Identificador</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-log-in"></i>
                    </div>
                    <input [(ngModel)]="tipoDespesa.nome" id="nome" name="nome" type="text" class="form-control" placeholder="Informe o nome do tipo de despesa">
                </div>    
            </div>
            
            <div class="form-group">
                <label for="descricao">Observação</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-align-left"></i>
                    </div>
                    <textarea [(ngModel)]="tipoDespesa.descricao" id="descricao" name="descricao" class="form-control" placeholder="Descreva alguma informação importante sobre essa categoria"></textarea>
                </div>    
            </div>

            <div class="form-group">
               <div class="checkbox">
                    <label>
                        <input type="checkbox" [(ngModel)]="tipoDespesa.recorrente" id="recorrente" name="recorrente"> Tipo de despesa é recorrente?
                    </label>
                    <span id="helpBlock" class="help-block">Um tipo de despesa recorrente é uma depesa que ocorre todo mês. Ex: Luz, Água, Telefone. Marcando como recorrente o sistema criará alertas para informar que uma conta recorrente ainda não foi paga.</span>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Salvar
                </button>
                
                &nbsp;

                <button class="btn btn-default" (click)="onCancelar($event)">
                    <i class="glyphicon glyphicon-minus-sign"></i>
                    Cancelar
                </button>
            </div>
        </form>
</main>
