<header class="container">
    <h1 class="page-header">Conta</h1>
</header>

<main class="container">
        <form method="POST" (submit)="onSubmit($event)">
            <div class="form-group">
                <label for="nome">Nome / Identificador</label>
                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-piggy-bank"></i>
                    </div>
                    <input required [(ngModel)]="conta.nome" id="nome" name="nome" type="text" class="form-control" placeholder="Informe o nome da conta">
                </div>    
            </div>

            <div class="form-group">
                <label for="saldo">Saldo inicial</label>

                <div class="input-group"> 
                    <div class="input-group-addon">$</div>
                    <input required [(ngModel)]="conta.saldo" id="saldo" name="saldo" type="number" class="form-control" placeholder="Informe um saldo">
                </div>
            </div>

            <div class="form-group">
                <label for="descricao">Observaçoes</label>

                <div class="input-group"> 
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-align-left"></i>
                    </div>
                    <textarea [(ngModel)]="conta.descricao" id="descricao" name="descricao" placeholder="escreva alguma coisa sobre essa conta ... " class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-floppy-disk"></i>
                    Salvar
                </button>
                
                &nbsp;

                <button class="btn btn-default" (click)="onCancelar($event)">
                    <i class="glyphicon glyphicon-minus-sign"></i>
                    Cancelar
                </button>
            </div>
        </form>
</main>
